
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

* , *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 518px;
    min-height: 531px;
    margin: 20px auto;
    background-color: white;     
}

.ps {
    padding-top: 30px;
    margin: 0 0 40px 30px;
    color: #5f7897;
} 

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-line {
    position: relative;

}

.first-line i {
    position: absolute;
    top:12px;
    left: 0;
}


.search {
    flex: 1 0 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    padding: 10px;
    width: 345px;
    outline: white;
    margin-bottom: 22px;
    padding-left: 20px;
}

.all_mem {
    flex: 1 0 0;
    margin-bottom: 24px;
}
.member {
    width: 345px;
    display: -webkit-box;
    display: flex;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 5px;
    font-size: 14px;
  }

  i{
    margin-right: 1rem;
    color:black;
  }

  .member_name {
    color:black;
    margin-left: 7px;
    margin-right: auto;
  }

  .member_status {
    position: relative;
  }

    /* Create a custom checkbox */
.member_status label {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    left: 0;
    position: absolute;
    top: -2.5px;
    width: 22px;
  }
 
.member_status label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .member_status input[type="checkbox"] {
    visibility: hidden;
  }
  
  .member_status input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .member_status input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

 .last_line {
    display: flex;
    align-items: center;
    justify-content: center; 
 }

.btn{
    border-radius: 5px;
     width: 116px;
     height: 36px;
     outline: white;
}     

 .cancel {
     background-color: white;
     border-color: black;
     color: black;
     margin-right: 20px;

 }

 .save {
    background: rgb(108,183,255);
    background: linear-gradient(90deg, rgba(108,183,255,1) 0%, rgba(114,158,255,1) 36%, rgba(119,141,255,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 12px rgba(0, 0, 0, 0.12),
    0 16px 15px rgba(0, 0, 0, 0.2);
    color: honeydew;
    border: none;
 }